* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right ,rgba(151, 180, 220, 0.8),rgba(187, 236, 248, 0.973)) ;
}

/* style header */

header{

    position: fixed;
    width: 100%;
    background-color: rgba(151, 180, 220, 0.938);
    opacity: 90%;
}

.hcontainer{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}


header ul{
    margin: 1em 0 0.5em;
    text-align: center;
}

header li{
    display: inline;
}


.hlink {
    background-color: rgba(187, 236, 248, 0.973);
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.imgheader1{
    height: 3rem;
    margin-right: 3em;
    position: fixed;
    left: 5em;
    top: 2.2em;
}

.socMed {
    position: fixed;
    right: 5em;
    top: 2.2em;
}

.logoFrTrv{
    height: 3rem;
/*    width: 5rem; */
}

.socIcon {
    height: 3rem;
}




/* En premier, faites la composition de votre grille en utilisant les grid-template, vous créez ainsi un tableau avec le bon nombre de lignes et de colonnes.*/

.imgContainer {
    display: grid;
    grid-template-columns: 5fr 2fr 3fr 2fr 5fr;
    grid-template-rows: 50px 1fr 1fr;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 0%;
    row-gap: 3%;
}

/* Puis, placez chaque element (les titres, les images, le paragraphe) dans les cases qui correspondent, en les alignants au bonnes columns et rows. */

h2 {
    color: rgba(25, 34, 68, 0.973);
    text-shadow: 2px 1px 2px rgba(24, 45, 73, 0.068);
}

.titreImg1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2.5rem;
}

.titreImg2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2.5rem;
}

.img1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%
}

.img2 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    width: 100%
}

.imgText {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    text-align: center;
    margin-top: 20%;
    font-size: 1.5rem;
}
/* Vous pouvez appliquer des espacements pour mettre en forme votre tableau grace au system du 'box model'. Jouez avec le conteneur et les éléments contenus par ce biais. */



.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 20%;
}
form .lab1{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}
form .lab2{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}
form .lab3{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
}
form .inp1{
    grid-column: 2 / 4;
    grid-row: 1;
}
form .inp2{
    grid-column: 2 / 4;
    grid-row: 2;     
}
form .inp3{
    grid-column: 2 / 4;
    grid-row: 3;
}
form .send{
    grid-column: 2;
    grid-row: 4;
}
/* footer */

footer {
    background-color: rgba(151, 180, 220, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-footer {
    width: 2rem;
    border: 1px solid black;
}

.footer-p {
    font-size: 1rem;
}

.arrow {
    margin-left: 15%;
}